# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# KEY_FILE
treediWevService.json

credentials.json

scratch/

credentials_drive.json