# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

credentials.json

scratch/

default.log

credentials_drive.json

token.json

icon.png

credentials_drive_old.json